html, body, .container {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.side-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #494949;
}
.logo {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5F5F5F;
}
/**/
/*REFRESH BUTTON*/
/**/
.btn-refresh {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7D7D7D;
}
.btn-refresh:hover {
    background-color: lightgreen;
}
.btn-refresh:active {
    background-color: lightgrey;
}
.btn-refresh-text {
    color: white;
    font-size: 1.5em;
    text-align: center;
}
/**/
/*DRIVE LIST*/
/**/
.drive-list-container {
    width: 100%;
    height: 100%;
}
.drive-list-container div:first {
    border-top: 0.5px solid lightgrey;
}
.drive-list-container div {
    height: 50px;
    width: auto;
    display: flex;
    padding-left: 20px; 
    align-items: center;
    border-bottom: 0.5px solid white;
    background-color: #9A9A9A;
}
/**/
/*MAIN LIST*/
/**/
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 75%;
    background-color: lightgrey;
}
.filesizes-container {
    width: 50%;
    border: 1px solid black;
    padding: 20px;
}
/**/
/*ACTION BUTTON*/
/**/
.btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.btn-wrapper {
    height: 100px;
    width: 70%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7D7D7D;
}
.btn-wrapper:nth-child(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.btn-wrapper:hover {
    background-color: lightgreen;
}
.btn-wrapper:active {
    background-color: lightgrey;
}
.btn-text {
    color: white;
    text-align: center;
}

.selected {
  background-color: red;
}